.popular-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 15px;
  padding-right: 1px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .popular-list {
    margin-top: 32px;
    padding-left: 165px;
    padding-right: 135px;
  }
}
